//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 01 00:45:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

